<h1>Listing events</h1>

<%= week_calendar events: @events do |day, events| %>
  <% start = day.beginning_of_day %>
  <% ending = day.end_of_day %>

  <% while start < ending do %>
    <div class="day-hour">
      <%= start.strftime("%l%P") %>
    </div>

    <% start += 1.hour %>
  <% end %>
<% end %>

<%= link_to 'New Event', new_event_path %>
